h1{
	font-family: Tahoma, cursive;
	text-align:center;
	font-size:50px;
	font-color:#ffffff;
	
}
#nav{
	font-family: Tahoma, serif;
	font-size: 25px;
	float: left;
	background-color:
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #566787;
	background-image: url("diamond-upholstery.png");

	border: 5px solid black;
	position: fixed;
	height: 100%;
	display: block;
	width:290px;
	
	
	
}
li a{
	display: block;
	width: 290px;
	text-align: center;
	color: #03202F
}

li{
	text-align: center;
	width: 290px;
	border-bottom: 2px solid white
	
}
body{
	background-color: #234887;
	background-image: url("diamond-upholstery.png");
	
}
h3{
	position: absolute;
	top:190px;
	left:350px;
	font-family: Tahoma;
}
table{
	padding-left:340px;
	padding-top:25px;
	font-family: Tahoma;
	font-size: 30px;
}
tr:hover{background-color:#7BAFD4}

img{
	position:relative;
	top:37px
}
li:hover{
	background-color:white;
}

