h1{
	font-family: Tahoma, cursive;
	text-align:center;
	font-size:50px;
	font-color:#ffffff;
	
}
#nav{
	font-family: 'Slabo 27px', serif;
	font-size: 25px;
	float: left;
	background-color:
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #566787;
	background-image: url("http://www.transparenttextures.com/patterns/brushed-alum.png");

	border: 1px solid #555;
	position: fixed;
	height: 100%;
	display: block;
	width:300px;
	
	
}
li a{
	display: block;
	width: 150px
	text-align: center;
}
li{
	text-align: center;
	width: 300px;
	
}
body{
	background-color: #234887;
	background-image: url("http://www.transparenttextures.com/patterns/sos.png");
}
h3{
	position: absolute;
	top:135px;
	left:350px;
}
table{
	padding-left:340px;
	padding-top:30px;
	font-family: Verdana;
	font-size: 30px;
	
}